{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="card-body">
        <h5 class="card-title">Thank You!</h5>
        <p class="card-text">Thank you for using BOOKWRMS book management system. I hope you are enjoying it so far, but
            sometimes issues arise or functionality is lacking. If you face an issue or would like a feature added,
            please use the links below.</p>
        <a href="#"
            class="https://github.com/Ubiquitouskiwi/BOOKWRMS/issues/new?assignees=Ubiquitouskiwi&labels=bug&projects=&template=bug-report.md&title=%5BBug%5D">Issues</a>
        | <a href="#"
            class="https://github.com/Ubiquitouskiwi/BOOKWRMS/issues/new?assignees=Ubiquitouskiwi&labels=enhancement&projects=&template=feature_request.md&title=%5BFeature+Request%5D">Feature
            Requests</a>
    </div>
</div>
{% endblock %}