{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div>
    <h5>Thank you for using BOOKWRMS. If you have any feature requests or issues please use the links below to submit a
        ticket.</h5>
    <a target="_blank"
        href="https://github.com/Ubiquitouskiwi/BOOKWRMS/issues/new?assignees=Ubiquitouskiwi&labels=bug&projects=&template=bug-report.md&title=%5BBug%5D">Bug
        Fix</a>
    <a target="_blank"
        href="https://github.com/Ubiquitouskiwi/BOOKWRMS/issues/new?assignees=Ubiquitouskiwi&labels=enhancement&projects=&template=feature_request.md&title=%5BFeature+Request%5D">Feature
        Request</a>
</div>

{% endblock %}