{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Add Book{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <div class="form mb-3">
    <label for="isbn">ISBN</label>
    <input type="tel" placeholder="eg. 978-0140177398" class="form-control" name="isbn" id="isbn">
  </div>
  <div class="form-floating mb-3">
    <input class="btn btn-success" type="submit" value="Add">
    <input type="button" class="btn btn-danger" onclick="window.history.go(-1); return false;" value="Cancel">
    <input type="reset" class="btn btn-warning" href="/" value="Clear">
  </div>
</form>
{% endblock %}