{% extends 'base.html' %}

{% block header %}
<div class="text-center">
    <h1 class="display-6">{% block title %}{{ book['title'] }}{% endblock %}</h1>
</div>
{% endblock %}

{% block content %}
<div class="text-center">
    <img src="{{ book.cover_url }}" width="200" height="300" alt="Book Cover: {{ book.title }}">
    <br>
    <div class="about">By: {{ book.author.first_name }} {{ book.author.last_name}}</div>
    <div class="about">ISBN: {{ book.isbn }}</div>
    {% if g.user['is_admin'] %}
    <a class="lead" href="{{ url_for('home.edit_book', id = book.id) }}">Edit Book</a> |
    <a class="lead" href="{{ url_for('home.checkout_book', id = book.id) }}">Checkout</a>
    {% endif %}
</div>
<div>
    {% if book['author_links'] %}
    <p>Author Links:</p>
    <ul>

        {% for link in book['author_links'] %}
        <li><a href="{{link['url']}}" target="_blank">{{ link['title'] }}</a></li>
        {% endfor %}

    </ul>
    {% endif %}
</div>
<hr>
<div>
    <h4>Summary</h4>
    <p class="summary"><md-block>{{ book['summary'] }}</md-block></p>
    <br>
</div>
<div>
    <h4>Checkout History</h4>

    <table class="table">
        <tr>
            <th scope="col">User</th>
            <th scope="col">Returned</th>
            <th scope="col">Checkout Date</th>
            <th scope="col">Check In Date</th>
            <th scope="col">Expected Return Date</th>
            <th scope="col">Times Renewed</th>
        </tr>
        {% if book.checkout_log %}
        {% for checkout in book.checkout_log %}
        <tr>
            <td>{{ checkout['first_name'] + " " + checkout['last_name'] }}</td>
            {% if checkout['returned'] %}
            <td><i class="bi-x-lg"></td>
            {% else %}
            <td><i class="bi-check-lg"></i></td>
            {% endif %}
            <td>{{ checkout['checkout_date'] }}</td>
            <td>{{ checkout['checkin_date'] }}</td>
            <td>{{ checkout['expected_return'] }} </td>
            <td>{{ checkout['renew_count'] }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <p>No checkout history.</p>
        {% endif %}
    </table>
</div>


{% endblock %}