{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Checkout{% endblock %}</h1>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
<p style="color:red;">{{ messages[0] }}</p>
{% endwith %}
<form method="post">
    <div class="form mb-3">
        <label for="patron-name">Checkout To</label>
        <input type="text" placeholder="eg. Tyler Starling" class="form-control" name="patron-name" id="patron-name">
    </div>
    <div class="form mb-3">
        <label for="checkin-date">Checkin</label>
        <input type="date" name="checkin-date" id="checkin-date" class="form-control" />
    </div>

    <div class="form-floating mb-3">
        <input class="btn btn-success" type="submit" value="Check Out">
        <input type="button" class="btn btn-danger" onclick="window.history.go(-1); return false;" value="Cancel">
        <input type="reset" class="btn btn-warning" href="/" value="Clear">

    </div>
</form>
{% endblock %}