{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Checkout{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <div class="form mb-3">
        <label for="checkout">Checkout To</label>
        <input type="tel" placeholder="eg. Tyler Starling" class="form-control" name="checkout" id="checkout">
    </div>
    <div class="form mb-3" data-date-format="mm-dd-yyyy">
        <label for="checkin-date">Checkin</label>
        <input type="date" name="checkin-date" id="checkin-date" class="form-control" />
    </div>
</form>
<div>
    <p id="result"></p>
    <button id="play-button" class="btn btn-success play" title="Play">Play</button>
    <div>
        <select name="" id="camera-options">
            <option value="video-options">Select camera</option>
        </select>
    </div>
    <video autoplay id="barcode-scanner">

    </video>
</div>
<script src="../../static/js/scanner.js"></script>
{% endblock %}