{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ book['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="title">Title</label>
        <input name="title" id="title" value="{{ request.form['title'] or book['title'] }}" required>
        <label for="isbn">ISBN</label>
        <input name="isbn" id="isbn" value="{{ request.form['isbn'] or book['isbn'] }}" required>
        <label for="illustration_url">Book Cover URL</label>
        <input name="illustration_url" id="illustration_url" value="{{ request.form['illustration_url'] or book['illustration_url'] }}" required>   
        <input type="submit" value="Save"> 
    </form>
    <hr>
    <form action="{{ url_for('home.delete_book', id=book['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}