{% extends 'base.html' %}

{% block header %}
<div class="jumbotron text-center">
    {% if g.user %}
    <h1 class="display-4">Library</h1>
    <!--<a class="lead" href="#}">Checkout</a>-->
    {% else %}
    <h1 class="display-4">{% block title %}Library{% endblock %}</h1>
    {% endif %}
    <form method="post" action="/search_book">
        {% with messages = get_flashed_messages() %}
        <p style="color:red;">{{ messages[0] }}</p>
        {% endwith %}
        <div class="input-group mb-3">
            <select class="form-select" name="search_type" aria-label="Search Type">
                <option value="isbn">ISBN</option>
                <option value="title">Title</option>
            </select>
            <input type="text" name="search_criteria" class="form-control">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="modal fade" id="add-tag-modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-label">Add Tag</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/add-tag" method="post">
                    <input id="modal_book_id" name="modal_book_id" type="text" hidden>
                    <div class="mb-3">
                        <label for="tag_value" class="col-form-label">Tag Value</label>
                        <input type="text" class="form-control" name="tag_value" id="tag_value">
                    </div>
                    <div class="mb-3">
                        <label for="tag_color" class="col-form-label">Tag Color</label>
                        <input type="color" name="tag_color" class="form-control corm-control-color" id="tag_color"
                            title="Choose color">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% for book in books %}
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top img-thumbnail" style="max-height: 400px;" src="{{ book['illustration_url'] }}"
                alt="Book Cover">
            {% if tags %}
            <div class="card-header">
                <button style="border: 0px;" id="{{ book['id'] }}"
                    class="btn btn-outline-success button-link add-tag-button btn-sm" data-bs-target="#add-tag-modal"
                    data-bs-toggle="modal" title="Add tag"><i class="bi bi-tag"></i></button>
                {% for book_id in tags %}
                {% if book_id == book['id'] %}
                {% for tag in tags[book_id] %}
                <a href="/tag/{{ tag['id'] }}/delete-tag" title="Click to delete"><img
                        src="https://img.shields.io/badge/{{ tag['tag_value'] }}-{{ tag['tag_color'] }}.svg?logo=book"></a>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><u>{{ book['title'] }}</u></h5>
                <p class="card-subtitle mb-1 text-muted">By: {{ book['first_name'] }} {{ book['last_name']}}</h6>
                <p class="card-subtitle mb-1 text-muted">ISBN: {{ book['isbn'] }}</p>
                <a class="card-link" href="{{ url_for('home.book_details', id=book['id']) }}">More Info</a>
                {% if g.user['is_admin'] %}
                <a class="card-link" href="{{ url_for('home.edit_book', id=book['id']) }}">Edit Book</a>
                <hr />
                <a class="card-link" href="{{ url_for('home.checkout_book', id=book['id']) }}">Check Out</a>
                <a class="card-link" href="{{ url_for('home.checkout_book', id=book['id']) }}">Return</a>
                {% endif %}
            </div>
            <div class="card-footer text-muted text-center" style="color:green;">
                Available
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script src="../../static/js/home_index.js"></script>
{% endblock %}