{% extends 'base.html' %}

{% block header %}
<div class="jumbotron text-center">
    {% if g.user %}
    <h1 class="display-4">Library</h1>
    <!--<a class="lead" href="#}">Checkout</a>-->
    {% else %}
    <h1 class="display-4">{% block title %}Library{% endblock %}</h1>
    {% endif %}
    <form method="post" action="/search_book">
        {% with messages = get_flashed_messages() %}
        <p style="color:red;">{{ messages[0] }}</p>
        {% endwith %}
        <div class="input-group mb-3">
            <select class="form-select" name="search_type" aria-label="Search Type">
                <option value="isbn">ISBN</option>
                <option value="title">Title</option>
            </select>
            <input type="text" name="search_criteria" class="form-control">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="row">
    {% for book in books %}
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top img-thumbnail" style="max-height: 400px;" src="{{ book['illustration_url'] }}"
                alt="Book Cover">
            <div class="card-body">
                <h5 class="card-title"><u>{{ book['title'] }}</u></h5>
                <p class="card-subtitle mb-1 text-muted">By: {{ book['first_name'] }} {{ book['last_name']}}</h6>
                <p class="card-subtitle mb-1 text-muted">ISBN: {{ book['isbn'] }}</p>
                <a class="card-link" href="{{ url_for('home.book_details', id=book['id']) }}">More Info</a>
                {% if g.user['is_admin'] %}
                <a class="card-link" href="{{ url_for('home.edit_book', id=book['id']) }}">Edit Book</a>
                <hr />
                <a class="card-link" href="{{ url_for('home.checkout_book', id=book['id']) }}">Check Out</a>
                <a class="card-link" href="{{ url_for('home.checkout_book', id=book['id']) }}">Return</a>
                {% endif %}
            </div>
            <div class="card-footer text-muted text-center" style="color:green;">
                Available
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}