{% extends 'base.html' %}

{% block header %}
<div class="jumbotron text-center">
    {% if g.user %}
    <h1 class="display-4">{{ g.user['first_name'].capitalize() }}'s  Library</h1>
    <a class="lead" href="{{ url_for('scanner.scanner') }}">Checkout</a>
    {% else %}
    <h1 class="display-4">{% block title %}Book Repository{% endblock %}</h1>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="row">
    {% for book in books %}
    <div class="col-md-3" style="margin-bottom:20px;">
        <div class="card">           
            <img class="card-img-top img-thumbnail" src="{{ book['illustration_url'] }}" alt="Book Cover" >            
            <div class="card-body"> 
                <h5 class="card-title"><u>{{ book['title'] }}</u></h5>               
                <p class="card-subtitle mb-1 text-muted">By: {{ book['first_name'] }} {{ book['last_name']}}</h6>
                <p class="card-subtitle mb-1 text-muted">ISBN: {{ book['isbn'] }}</p>
                <a class="card-link" href="{{ url_for('home.book_details', id=book['id']) }}">More Info</a>
                {% if g.user['is_admin'] %}
                    <a class="card-link" href="{{ url_for('home.edit_book', id=book['id']) }}">Edit Book</a>                    
                {% endif %}
            </div>
            <div class="card-footer text-muted text-center">
                Due: 2 Days
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}