{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div>
  <!-- Section: Design Block -->
  <section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form method="POST">
                  {% with messages = get_flashed_messages() %}
                  <p style="color:red;">{{ messages[0] }}</p>
                  {% endwith %}
                  <!-- Username Input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control">
                  </div>

                  <!-- Last Name Input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                  </div>

                  <!-- 2 Column Layout -->
                  <div class="row mb-4">
                    <div class="col-md-6 d-flex justify-content-center">
                      <!-- Checkbox -->
                      <div class="form-check mb-3 mb-md-0">
                        <input class="form-check-input" type="checkbox" value="" id="remember_check">
                        <label class="form-check-label" name="remember_me" for="remember_check">Remember me</label>
                      </div>
                    </div>

                    <!-- Forgot Password -->
                    <div class="col-md-6 d-flex justify-content-center">
                      <a href="#!">Forgot password?</a>
                    </div>
                  </div>

                  <!-- Submit Button -->
                  <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary mb-4">Sign in</button>
                  </div>


                  <!-- Register -->
                  <div class="text-center">
                    <p>Not a member? <a href="{{ url_for('auth.register') }}">Register</a> </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
</div>
{% endblock %}