{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="first_name">First Name</label>
        <input name="first_name" id="first_name" required>
        <label for="last_name">Last Name</label>
        <input name="last_name" id="last_name" required>
        <label for="library_card_number">Library Card Number</label>        
        <input name="library_card_number" id="library_card_number" required>
        <label for="is_admin">Admin User</label>
        <input type="radio" name="is_admin" id="is_admin">
        <input type="submit" value="Register">
    </form>
{% endblock %}